---
import { getImage } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";
import Header from "../components/PageHero.astro";

/* MSI - Mom Section Image */
import MSIDesktop from '../assets/TonyPoint.png';
import MSIMobile from '../assets/TonyPoint.png';

const MSIDObj = await getImage({
	src: MSIDesktop,
	width: MSIDesktop.width / 2,
	format: "webp",
	quality: "max"
});

const MSIMObj = await getImage({
	src: MSIMobile,
	width: MSIMobile.width / 2,
	format: "webp",
	quality: "max"
});

/* DSI - Dad Section Image */
import DSIDesktop from '../assets/TonyPoint.png';
import DSIMobile from '../assets/TonyPoint.png';

const DSIDObj = await getImage({
	src: DSIDesktop,
	width: DSIDesktop.width / 2,
	format: "webp",
	quality: "max"
});

const DSIMObj = await getImage({
	src: DSIMobile,
	width: DSIMobile.width / 2,
	format: "webp",
	quality: "max"
});

/* GSI - Grandma Section Image */
import GSIDesktop from '../assets/TonyPoint.png';
import GSIMobile from '../assets/TonyPoint.png';

const GSIDObj = await getImage({
	src: GSIDesktop,
	width: GSIDesktop.width / 2,
	format: "webp",
	quality: "max"
});

const GSIMObj = await getImage({
	src: GSIMobile,
	width: GSIMobile.width / 2,
	format: "webp",
	quality: "max"
});
---


<PageLayout title="Family" description="The story behind my close relatives">
	<Header title="The Family"/>
	<section id="section-1">
		<div class="v-container">
			<h2 class="v-title">Mom</h2>
			<div class="section-content">
				<p class="v-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum alias expedita laboriosam iste, ipsum ipsa placeat voluptate quam voluptatem ea sapiente eum eveniet minus error nam voluptates labore sit quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus debitis nostrum at dolorum magni culpa ex molestias ab necessitatibus illum praesentium numquam suscipit temporibus nisi consequatur molestiae labore, voluptatum quia, porro aut dolore? Accusamus aspernatur assumenda quaerat iure eveniet placeat quisquam nam? Minus aliquam eligendi dolore corrupti facilis iste.</p>
				<div class="image-wrapper">
					<picture>
						<source style="(max-width: 768px)" srcset={MSIMObj.src}/>
						<source style="(min-width: 769px)" srcset={MSIDObj.src}/>
						<img class="section-image" src={MSIMObj.src} alt="photo of my mom" decoding="async" loading="lazy"/>
					</picture>
				</div>
			</div>
		</div>
	</section>
	<section id="section-2">
		<div class="v-container">
			<h2 class="v-title title-reverse">Dad</h2>
			<div class="section-content-reverse">
				<p class="v-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum alias expedita laboriosam iste, ipsum ipsa placeat voluptate quam voluptatem ea sapiente eum eveniet minus error nam voluptates labore sit quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus debitis nostrum at dolorum magni culpa ex molestias ab necessitatibus illum praesentium numquam suscipit temporibus nisi consequatur molestiae labore, voluptatum quia, porro aut dolore? Accusamus aspernatur assumenda quaerat iure eveniet placeat quisquam nam? Minus aliquam eligendi dolore corrupti facilis iste.</p>
				<div class="image-wrapper">
					<picture>
						<source style="(max-width: 768px)" srcset={DSIMObj.src}/>
						<source style="(min-width: 769px)" srcset={DSIDObj.src}/>
						<img class="section-image" src={DSIMObj.src} alt="photo of my mom" decoding="async" loading="lazy"/>
					</picture>
				</div>
			</div>
		</div>
	</section>
	<section id="section-2">
		<div class="v-container">
			<h2 class="v-title">Nanny</h2>
			<div class="section-content">
				<p class="v-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum alias expedita laboriosam iste, ipsum ipsa placeat voluptate quam voluptatem ea sapiente eum eveniet minus error nam voluptates labore sit quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus debitis nostrum at dolorum magni culpa ex molestias ab necessitatibus illum praesentium numquam suscipit temporibus nisi consequatur molestiae labore, voluptatum quia, porro aut dolore? Accusamus aspernatur assumenda quaerat iure eveniet placeat quisquam nam? Minus aliquam eligendi dolore corrupti facilis iste.</p>
				<div class="image-wrapper">
					<picture>
						<source style="(max-width: 768px)" srcset={GSIMObj.src}/>
						<source style="(min-width: 769px)" srcset={GSIDObj.src}/>
						<img class="section-image" src={GSIMObj.src} alt="photo of my mom" decoding="async" loading="lazy"/>
					</picture>
				</div>
			</div>
		</div>
	</section>
</PageLayout>

<style>
	
	p{
		padding: 1rem;
		line-height: 1.5;
		padding-bottom: 2rem;
	}

	h2{
		padding: 1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		line-height: 1.5;
	}

	h2{
		color: var(--accent-color);
		text-decoration: underline;
		text-decoration-thickness: .5rem;
		text-decoration-color: var(--highlight-color);
		text-transform: uppercase;
	}

	.title-reverse{
		text-align: right;
	}

	#section-1,
	#section-2{
		background: #F7F7F7;
	}

	.section-content{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.section-content-reverse{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.image-wrapper{
		width: 20%;
		height: 100%;
	}

	.section-image{
		object-fit: cover;
		width: 100%;
		height: 100%;
		vertical-align: bottom;
	}

	@media(max-width: 850px)
	{
		.section-content{
			flex-direction: column-reverse;
		}

		.section-content-reverse{
			flex-direction: column-reverse;
		}

		.image-wrapper{
			margin: auto;
			height: 20rem;
			width: auto;
		}

		h2{
			text-align: center;
		}

		.title-reverse{
			text-align: center;
		}
	}
</style>